body {
	background-color: mediumorchid;
	font-family: sans-serif;
	font-color: white;
	font-size: medium;
	text-align: center;
	vertical-align: middle;
}

h1 {
	color: white;
	font-size: xx-large;
}

h2 {
	color: wheat;
}

li {
	color: white;
	display:inline;
}

ul {
	list-style: none;
	width: 80%;
	margin: auto;
}

div {
	background-color: deeppink
}
.deck {
	float: left;
	width: 75%;
	vertical-align: top;
}
.vict {
	float: right;
	width: 25%;
}

.coin {
	float: right;
	width: 25%;
}
.deck div {
	background-color: tan;
	text-align: center;
	display: inline-block;
	width: 128px;
	height: 178px;
	margin: 5px;
}

.vict div {
	position: right;
	background-color: teal;
	display: inline-block;
	width: 64px;
	height: 89px;
	margin: 5px;
}

.coin div {
	position: right;
	background-color: gold;
	display: inline-block;
	width: 64px;
	height: 89px;
	margin: 5px;
}