body {
  background-color: #D1C7E5;
  font-family: 'Walter Turncoat', cursive;
  font-color: black;
  font-size: medium;
  text-align: center;
  vertical-align: middle;
}

h1 {
  color: black;
  font-size: xx-large;
}
h2 {
  color: black;
}
h4 {
  color: black;
  text-align: top;
}

div {
  background-color: #D1C7E5
}

.deck {
  float: left;
  width: 75%;
  vertical-align: top;
  max-width: 800px;
}
.vict {
  float: right;
  width: 25%;
}
.coin {
  float: right;
  width: 25%;
}
.other {
  float: right;
  width: 25%;
}
.decklist div {
  background-color: white;
  text-align: center;
  display: inline-block;
  width: 128px;
  height: 178px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid;
}

.victlist div {
  position: right;
  background-color: white;
  display: inline-block;
  width: 64px;
  height: 89px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid;
}

.coinlist div {
  position: right;
  background-color: white;
  display: inline-block;
  width: 64px;
  height: 89px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid;
}
.otherlist div {
  position: right;
  background-color: black;
  display: inline-block;
  width: 64px;
  height: 89px;
  margin: 5px;
  border-radius: 5px;
}
.deckchoice {
  clear: both;
}
