<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('bower_components', filename='chosen_v1.1.0/chosen.min.css') }}">
    <title>Dominion Girl</title>
    <script src="{{url_for('bower_components', filename='jquery/dist/jquery.js')}}" type="text/javascript"></script>
    <script src="{{url_for('bower_components', filename='chosen_v1.1.0/chosen.jquery.min.js')}}" type="text/javascript"></script>
  </head>
  <body>
    <h1>Welcome to (✿◠‿◠) DOMINION GIRL (◕‿◕✿)</h1>
    <div class="deckname">
      <div><h2>Set Selection: {{decks}}</h2></div>
    </div>
    <div class="deck">
      <div class="decklist">
        {% for c in cards %}
          <div><h4>{{c}}</h4></div>
        {% endfor %}
      </div>
    </div>
    <div class="supply-cards">
      <h3>Coin Cards</h3>
      <div class="coinlist">
        {% for b in coin %}
          <div><h4>{{b}}</h4></div>
        {% endfor %}
      </div>
    </div>
    <div class="vict">
      <h3>Victory Cards</h3>
      <div class="victlist">
        {% for v in vict %}
          <div><h4>{{v}}</h4></div>
        {% endfor %}
      </div>
    </div>
    <div class="deckchoice">
      <form name="input" action="/" method="POST">
        Card Sets:
        <select class="choices" name="deckchoice" style="width:150px;" multiple>
          <optgroup label="Base Sets">
            <option value="dominion">Dominion</option>
            <option value="intrigue">Intrigue</option>
          </optgroup>
          <optgroup label="Expansions">
            <option value="seaside">Seaside</option>
            <option value="alchemy">Alchemy</option>
            <option value="prosperity">Prosperity</option>
            <option value="cornucopia">Cornucopia</option>
            <option value="hinterlands">Hinterlands</option>
            <option value="darkages">Darkages</option>
            <option value="guilds">Guilds</option>
          </optgroup>
          <input type="submit" value="Submit">
        </select>
      </form>
    </div>
  </body>
  <script type="text/javascript">
    $(".choices").chosen();
  </script>
</html>
